<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-pull-request"></i>Our Services</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-color-filter"></i>Our Methodology</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-color-wand-outline"></i>Flexible Delivery</a>
        </li>
        <li>
          <a class="show-left">
            <i class="ion-key"></i>On-Shoring Key Benefits</a>
        </li>
        <!-- <li>
          <a class="show-top">our-clients</a>
        </li>
        <li>
          <a class="show-bottom">testimonials</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---On_shore_helps Section-->
        <section id="on-shore-of">

          <!-- <section class="scroll-bar-section"> -->
          <h2>Our services</h2>
          <div class="row boxes services title-with-subs">
            <div class="box">
              <h3>Cloud Services</h3>
              <ul>
                <a class="alertInfo">
                  <li>Cloud Support Services</li>
                </a>
                <a routerLink="/on-shore/enterprise-cloud-services">
                  <li class="has-info">Enterprise Cloud Migration Services</li>
                </a>
              </ul>
            </div>
            <div class="box">
              <h3>Client Technology Services</h3>
              <ul>
                <a class="alertInfo">
                  <li>Printing Services </li>
                </a>
                <a routerLink="/on-shore/av-vc-services">
                  <li class="has-info">AV/VC Services</li>
                </a>
                <a routerLink="/on-shore/mobility-wireless">
                  <li class="has-info">Mobility & Wireless Services</li>
                </a>
                <a routerLink="/on-shore/enterprise-helpdesk">
                  <li class="has-info">Enterprise Helpdesk & Monitoring</li>
                </a>
                <a routerLink="/on-shore/field-branch">
                  <li class="has-info">Field/Remote Office Support Services</li>
                </a>
                <a routerLink="/on-shore/personal-computing">
                  <li class="has-info">Personal Computing/Desktop Services</li>
                </a>
              </ul>
            </div>
            <div class="box">
              <h3>Project & Process Management</h3>
              <ul>
                <h4 style="color:#45B649">Project Management</h4>
                <a class="alertInfo">
                  <li>SDLC</li>
                </a>
                <a class="alertInfo">
                  <li>Agile </li>
                </a>

                <h4 style="color:#FF8008">Process Management</h4>
                <a class="alertInfo">
                  <li>Release Management</li>
                </a>
                <a class="alertInfo">
                  <li>Change Management</li>
                </a>
                <a class="alertInfo">
                  <li>Problem Management</li>
                </a>
                <a class="alertInfo">
                  <li>Capacity Management</li>
                </a>
                <a class="alertInfo">
                  <li>Performance Management</li>
                </a>
              </ul>
            </div>
            <div class="box">
              <h3>Application Development & Support</h3>
              <ul>
                <a class="alertInfo">
                  <li>DevOps</li>
                </a>
                <a class="alertInfo">
                  <li>Application Support</li>
                </a>
                <a class="alertInfo">
                  <li>Application Development</li>
                </a>
                <a class="alertInfo">
                  <li>Database Administration</li>
                </a>
                <a routerLink="/on-shore/data-analytics">
                  <li class="has-info">Data Analytics/Big Data</li>
                </a>
              </ul>
            </div>

            <div class="box">
              <h3>Infrastructure Engineering & Support</h3>
              <ul>
                <a class="alertInfo">
                  <li>Storage Services</li>
                </a>
                <a class="alertInfo">
                  <li>Data Center Services</li>
                </a>
                <a class="alertInfo">
                  <li>VoIP/Telecom Services</li>
                </a>
                <a class="alertInfo">
                  <li>Systems/Server Services</li>
                </a>
                <a routerLink="/on-shore/network-engineering">
                  <li class="has-info">Network Services </li>
                </a>
              </ul>
            </div>
            <div class="box">
              <h3>Security, Compliance & Business Continuity</h3>
              <ul>
                <a routerLink="/on-shore/sequrity-compliance">
                  <li class="has-info">Security & Compliance</li>
                </a>
                <a routerLink="/on-shore/disaster-recovery">
                  <li class="has-info">Disaster Recovery Services</li>
                </a>
              </ul>
            </div>
          </div>
          <!-- </section> -->
          <!---end of Scroll_bar_contents Section-->


        </section>
        <!---end of On_shore_helps Section-->
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Methodology Section-->
        <section>
          <h2>Our Methodology</h2>

          <div class="row">
            <div class="boxes square-oval">

              <div class="box">
                <p>
                  Our model eliminates internal costs associated with attrition/vacancy, occupancy, knowledge transfer & infrastructure
                </p>
              </div>

              <div class="box">
                <p>
                  Core competence in Staff-Augmentation - allows us to find the right talent at the right cost & at the right time to meet
                  our client needs
                </p>
              </div>

              <div class="box">
                <p>
                  Work distribution across functional areas thus passing savings on to our clients
                </p>
              </div>

              <div class="box">
                <p>
                  Established relationship with channel/industry partners – compliant solutions delivered on-time & within budget
                </p>
              </div>
              <div class="box">
                <p>
                  Implemented an IT Training & Innovation Center focusing on automation, reduction in manual processes & developing skills
                  in emerging technologies
                </p>
              </div>
              <div class="box">
                <p>
                  Our operational approach is based on the “lean strategy” – maximize customer value while minimizing waste
                </p>
              </div>
            </div>
          </div>
        </section>
        <!---end of Methodology Section-->

      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <!---Flexible_delivery Section-->
        <section id="flexible-delivery">
          <h2>Flexible Delivery</h2>
          <h4>Our delivery models include:</h4>
          <div class="row boxes title-with-subs">
            <div class="box">
              <h3>IT Managed Services in our Facility</h3>
              <ul>
                <p>
                  We hire the staff & manage client’s infrastructure & applications from our sites
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>IT Managed Services in client’s Facilities</h3>
              <ul>
                <p>
                  We manage client’s infrastructure or applications from client’s site with our employees
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>Hybrid IT Managed Services</h3>
              <ul>
                <p>
                  We share in the support & management of client’s infrastructure & applications (on-site & off-site)
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>Managed Capacity</h3>
              <ul>
                <p>
                  We provide business continuity, disaster recovery & recovery management services in our facilities
                </p>
              </ul>
            </div>
            <div class="box">
              <h3>Project Management & Delivery</h3>
              <ul>
                <p>
                  We manage client’s IT & business projects, partially or turn-key delivery
                </p>
              </ul>
            </div>
          </div>
        </section>
        <!---edn of Flexible_delivery Section-->
      </div>

      <!---Left side-->
      <div id="left" class="left side">
        <section id="flexible-delivery">
          <h2>On-Shoring Key Benefits</h2>
          <h4>
            Viable, cost-effective alternate solution to Off-Shoring.<br><br>
            We offer
            <span class="highlight">"On-Shore Off-Site"</span> I.T Managed Services.
          </h4>
          <div class="row boxes title-with-subs">
            <div class="box">
              <h3>Reduced Operational Risks</h3>
              <ul>
                <span class="icon-with-text">
                  <i></i>
                  <span>Regulatory</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Compliance</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Business Continuity Risks</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Cross Border Data Security </span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Secure</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Robust</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Compliant Infrastructure</span>
                </span>
                <!-- 
                  <li>Regulatory, Compliance, Business Continuity Risks & Cross Border Data Security</li>
                <li>Secure, Robust & Compliant Infrastructure</li> -->
              </ul>
            </div>
            <div class="box">
              <h3>Reduced Operational Costs</h3>
              <ul>
                <span class="icon-with-text">
                  <i></i>
                  <span>Cut Attrition Rate</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Vacancy/Occupancy</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Travel</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Training</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Infrastructure</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Opportunity</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Knowledge Transfer</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Transition Costs</span>
                </span>
              </ul>
            </div>
            <div class="box">
              <h3>Increased Operational Efficiencies</h3>
              <ul>

                <span class="icon-with-text">
                  <i></i>
                  <span>Reduction in manual processes due to Automation</span>
                </span>

                <span class="icon-with-text">
                  <i></i>
                  <span>Lean Strategy</span>
                </span>

                <span class="icon-with-text">
                  <i></i>
                  <span>Economies of Scale</span>
                </span>
              </ul>
            </div>
            <div class="box">
              <h3>Flexible Execution</h3>
              <ul>
                <span class="icon-with-text">
                  <i></i>
                  <span>Fully Managed Services at our facility or yours</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Hybrid Managed Services (Partial Staff a client location & partial at our site)</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Turnkey Project Management</span>
                </span>
                <span class="icon-with-text">
                  <i></i>
                  <span>Managed Capacity</span>
                </span>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>