<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-redo-outline"></i>Topology Map</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-redo-outline"></i>Disaster Recovery Services</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-redo-outline"></i>Other</a>
        </li>
        <!-- <li>
                  <a class="show-left">job-profiles</a>
                </li> -->
        <!-- <li>
                  <a class="show-top">Our advantage</a>
                </li> -->
        <!-- <li>
                  <a class="show-bottom">testimonials</a>
                </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Immages Section-->
        <section>
          <h2>Topology Map</h2>
          <figure class="img-block-container">
            <img src="assets/resources/img/topology_map.png" />
          </figure>

          <h2>Disaster recovery steps</h2>
          <figure class="img-block-container">
            <img src="assets/resources/img/disaster_recovery_steps.png" />
          </figure>
        </section>
        <!---end of Immages Section-->

      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Phases Section-->
        <section id="step-by-step-container">
          <h2>Disaster Recovery Services:</h2>
          <!---Stages container-->
          <div class="stages-phase-1-container boxes round-boxes">
            <!--id's will be filed from db-->
            <h3>Please click on stage</h3>
            <a id="1" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>INTRODUCTION</p>
                </div>
              </div>
            </a>
            <a id="2" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>ANALYSIS PHASE (REQUIREMENTS)</p>
                </div>
              </div>
            </a>
            <a id="3" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>DESIGN PHASE</p>
                </div>
              </div>
            </a>
            <a id="4" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>IMPLEMENTATION PHASE</p>
                </div>
              </div>
            </a>
            <a id="5" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>SUPPORT & MAINTENANCE</p>
                </div>
              </div>
            </a>
          </div>
          <!---end of Stages container-->

          <!---Items container-->
          <div id="stages-phase-info-container" class="stages-phase-info-container">
            <!--items name will be filed from db-->
            <div class="stages-phase-info grey 1">
              <p>
                Downtime can be avoided by eradicating single points of failure in your configurations. The capacity to recover improves
                when redundancy is added, but at the same time your costs rise. Alpha understands that DR is expensive, so
                choosing the correct resilient solutions based on risk tolerance & ensuring they are enhanced to meet recovery
                objectives is important. Our experienced team of Disaster Recovery Specialists are ready to help.
                <br>
                <br> Disaster Recovery: DR enables the recovery or continuation of vital technology infrastructure & systems
                following a natural or human-induced disaster.
                <br>
                <br> Business Continuity: It ensures an organization’s critical business functions continue to operate or recover
                quickly despite serious incidents.
                <br>
                <br> Firstly, we will have the analysis phase where the client IT infrastructure will be examined. Then we will
                focus on the design phase where the cloud architecture design will be formed. We would then continue to the
                implementation phase to execute the proposal once approved. The concluding phase is the support & maintenance
                phase where the infrastructure is monitored & maintained.
              </p>

            </div>
            <div class="stages-phase-info grey 2">
              <p>
                Alpha’s Solutions Architect goes on site to analyze the client’s IT infrastructure. Initiative would be undertaken to study
                client’s existing IT environment & infrastructure which would include but not limited to servers, virtual
                machines, applications/software, entire collection of assets in production, & network.
              </p>
            </div>
            <div class="stages-phase-info grey 3">
              <p>
                As per the information gathered from the client’s on site survey (analysis phase), Alpha would incorporate that information
                & shall present various design scenarios to the client. These design scenarios would vary in cloud based
                disaster recovery architecture & associated costs while aiming for minimum downtime with high availability,
                fault tolerance, scalability & budget-effective solutions.
              </p>
            </div>
            <div class="stages-phase-info grey 4">
              <p>
                Alpha’s DR Specialists focuses on implementing the solutions approved in the design phase. We incorporate the items below
                based on clients’ needs.
              </p>
              <div class="row boxes square-box-with-i">
                <div class="box">
                  <h3></h3>
                  <ul>
                    <li>
                      Backup & Restore
                    </li>
                    <li>
                      Pilot Light
                    </li>
                    <li>
                      Warm Standby Solution
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="stages-phase-info grey 5">
              <p>
              </p>
              <div class="row boxes square-box-with-i">
                <div class="box">
                  <h3>Bronze Tier Support:</h3>
                  <ul>
                    <li>
                      SLA: Support will be provided in less than 48 hours. (Remotely)
                    </li>
                    <li>
                      Interoperability & configuration guidance & troubleshooting
                    </li>
                    <li>
                      xx based on number of calls
                    </li>
                    <li>
                      DR Testing once every month
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Silver Tier Support:</h3>
                  <ul>
                    <li>
                      Includes Bronze Tier Support
                    </li>
                    <li>
                      SLA: Local business hours* access to Cloud Support Associates via email (Remotely/On-site if required)
                    </li>
                    <li>
                      DR Testing twice a month
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Gold Tier Support:</h3>
                  <ul>
                    <li>
                      Includes Silver Tier Support
                    </li>
                    <li>
                      SLA: 24x7 access to Cloud Support Engineers via email, chat, & phone (On-site)
                    </li>
                    <li>
                      DR Testing 4 times a month
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!---end of Items container-->
        </section>
        <!---end of Phases Section-->
      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <!---Contact_info Section-->
        <section>
          <div class="row">
            <h2>More Info</h2>
            <h4>
              For more information on Alpha’s Disaster Program based on the AWS platform, please email us at
            </h4>
            <a class="larg-link">info@alphait.us</a>
          </div>
        </section>
        <!---end of Contact_info Section-->
      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>