<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front"><i class="ion-ios-redo-outline"></i>Personal Computing/Desktop Services</a>
        </li>
        <li>
          <a class="show-back"><i class="ion-ios-redo-outline"></i>Learn morey</a>
        </li>
        <!-- <li>
                    <a class="show-right">Job Types</a>
                  </li> -->
        <!-- <li>
                    <a class="show-left">job-profiles</a>
                  </li> -->
        <!-- <li>
                    <a class="show-top">Our advantage</a>
                  </li> -->
        <!-- <li>
                    <a class="show-bottom">testimonials</a>
                  </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Personal_Computing/Desctop Section-->
        <section id="step-by-step-container">
          <h2>Personal Computing/Desktop Services</h2>
          <!---Stages container-->
          <div class="stages-phase-1-container boxes round-boxes">
            <!--id's will be filed from db-->
            <h3>Please click on stage</h3>
            <a id="phase-1" href="#stages-phase-2-containerr">
              <div class="stage">
                <div class="box">
                  <p>Phase 1: Audit</p>
                </div>
              </div>
            </a>

            <a id="phase-2" href="#stages-phase-2-containerr">
              <div class="stage">
                <div class="box">
                  <p>Phase 2: Design</p>
                </div>
              </div>
            </a>
            <a id="phase-3" href="#stages-phase-2-containerr">
              <div class="stage">
                <div class="box">
                  <p>Phase 3: Implementation</p>
                </div>
              </div>
            </a>
            <a id="phase-4" href="#stages-phase-2-containerr">
              <div class="stage">
                <div class="box">
                  <p>Phase 4: Support</p>
                </div>
              </div>
            </a>
          </div>

          <div id="stages-phase-2-container" class="stages-phase-2-container">
            <!--id's will be filed from db-->
            <div class="phase-1 stages-phase-2">
              <a id="phase-1-1" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>System Audit – Phase 1.1</p>
                  </div>
                </div>
              </a>
              <a id="phase-1-2" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>Client input – Phase 1.2</p>
                  </div>
                </div>
              </a>
            </div>

            <!--id's will be filed from db-->
            <div class="phase-2 stages-phase-2">
              <a id="phase-2-1" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>System Design – Phase 2.1</p>
                  </div>
                </div>
              </a>
              <a id="phase-2-2" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>System Design Approval – Phase 2.2 </p>
                  </div>
                </div>
              </a>
            </div>
            <!--id's will be filed from db-->
            <div class="phase-3 stages-phase-2">
              <a id="phase-3-1" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>System Test Build – Phase 3.1</p>
                  </div>
                </div>
              </a>
              <a id="phase-3-2" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>System Finalization – Phase 3.2</p>
                  </div>
                </div>
              </a>
              <a id="phase-3-3" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>System installation – Phase 3.3</p>
                  </div>
                </div>
              </a>
              <a id="phase-3-4" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>System Endpoint Management – Phase 3.4</p>
                  </div>
                </div>
              </a>
            </div>

            <!--id's will be filed from db-->
            <div class="phase-4 stages-phase-2">
              <a id="phase-4-1" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>Installation Support – Phase 4.1</p>
                  </div>
                </div>
              </a>
              <a id="phase-4-2" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="box">
                    <p>On-going Support – Phase 4.2</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!---end of Personal_Computing/Desctop container-->

          <!---Items container-->
          <div id="stages-phase-info-container" class="stages-phase-info-container">
            <!--items name will be filed from db-->
            <div class="stages-phase-info phase-1-1">
              <h3>Purpose: To gauge the current infrastructure of the client.</h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box">
                  <h3>Field of business</h3>
                  <ul>
                    <li>
                      Client’s field of business, e.g. medicine, finance, or engineering
                    </li>
                    <li>
                      This is to validate any regulatory requirements of the hardware and
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Site locations</h3>
                  <ul>
                    <li>
                      The number & designations of all client sites for identification
                    </li>
                    <li>
                      The work conditions at all sites, e.g. office, manufacturing
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Client computers</h3>
                  <ul>
                    <li>
                      The number of computers including but not limited to desktops, laptops, tablets, phones, & specialized equipment that may
                      need legacy or another type of connection to
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Client computer specifications</h3>
                  <ul>
                    <li>
                      The current specifications of the client computers that should include:
                      <ul>
                        <li>Unit make & model</li>
                        <li>Processor make & model</li>
                        <li>Memory amount & type</li>
                        <li>Storage amount, type, & hard drive size</li>
                        <li>Operating system & version</li>
                      </ul>
                    </li>

                  </ul>
                </div>
                <div class="box">
                  <h3>Peripheral machines & equipment</h3>
                  <ul>
                    <li>
                      The number of printers, fax machines, scanners, copiers, & other peripheral machines including their site & location
                      information
                    </li>
                    <li>The type of interface used, e.g. networked, local / USB, 25-pin serial, etc.…</li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Environment</h3>
                  <ul>
                    <li>
                      The type of environment at each site that deviates from normal office conditions, e.g. high humidity, caustic chemical usage,
                      excessive particulate matter
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Security</h3>
                  <ul>
                    <li>
                      The electronic security that is currently deployed including:
                      <ul>
                        <li>Hard drive encryption</li>
                        <li>Anti-virus & status, e.g. licensed or free</li>
                        <li>Centralized management, e.g. Windows Service Update Server or centralized anti-virus management</li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Environment</h3>
                  <ul>
                    <li>
                      Current specialized applications used by the client including:
                      <ul>
                        <li>Electronic medical record software</li>
                        <li>Enterprise resource planning software</li>
                        <li>Graphical design software</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="stages-phase-info phase-1-2">
              <h3>Purpose: To gather note customer wants & needs in relation to their IT infrastructure.</h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Client growth</h3>
                  <ul>
                    <li>
                      This is to validate any regulatory requirements of the hardware & Client input on how fast their business is expanding
                      the number of their physical locations & their average rate of growth for employees.
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Client requests</h3>
                  <ul>
                    <li>
                      Client requests for specific features they would like that could include:
                      <ul>
                        <li>
                          Specific type of desktop form, e.g. small form factor, tower, or micro
                        </li>
                        <li>
                          Flat screen displays
                        </li>
                        <li>
                          Specific hardware requirements for laptops
                        </li>
                        <li>
                          Specific platform the client would like to move to, e.g. Office 365
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Regulatory compliance</h3>
                  <ul>
                    <li>
                      Current & future regulations the client is required to adhere to regarding their IT infrastructure, e.g. PCI DSS & HIPAA
                      regulations
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Budget</h3>
                  <ul>
                    <li>
                      Client budget constraints
                    </li>
                    <li>
                      Education on unrealistic budgets for projects
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
            <div class="stages-phase-info phase-2-1">
              <h3>Purpose: To use the audited information & the client’s input to design a specified system, estimate the cost,
                & receive approval from the Client.</h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Client computer & specifications</h3>
                  <ul>
                    <li>
                      Computer that will meet the required specifications of the client workstation
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Client server & specifications</h3>
                  <ul>
                    <li>
                      Server that will meet the required specifications of the client environment, e.g. rack mount or tower based server
                    </li>
                    <li>
                      Additional server features for security, e.g. Active Directory, Network Policy Service, etc...
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Client peripheral equipment</h3>
                  <ul>
                    <li>
                      Additional equipment that will be installed on site, e.g. Network Attached Storage, Multifunction Printer, etc...
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Pricing</h3>
                  <ul>
                    <li>
                      Quote costs of upgrade parts, hardware, software, & labor for the project
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
            <div class="stages-phase-info phase-2-2">
              <h3>Purpose: To get client approval or requests for addition or change to the original scope of the design.</h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Approval</h3>
                  <ul>
                    <li>
                      Final client requests for change
                    </li>
                    <li>
                      Client signed approval of the system designation
                    </li>
                    <li>
                      Client signed approval of the system cost quote
                    </li>
                    <li>
                      System equipment purchase & ordering
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
            <div class="stages-phase-info phase-3-1">
              <h3>Purpose: To ensure factory defect free equipment & ensure swift installation & trouble free setup of client
                system.
              </h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Image creation</h3>
                  <ul>
                    <li>
                      Base operating installation
                    </li>
                    <li>
                      Driver additions for requisite hardware
                    </li>
                    <li>
                      Included software installation & validation
                    </li>
                  </ul>
                </div>
                <div class="box">
                  <h3>Test Build</h3>
                  <ul>
                    <li>
                      Setup & image all client laptops, desktops, & tablets
                    </li>
                    <li>
                      Setup & image all client servers
                    </li>
                    <li>
                      Configure standalone network
                    </li>
                    <li>
                      Configure the server services including, but not limited to:
                      <ul>
                        <li>
                          Attach all workstations & peripheral machines to the test build domain
                        </li>
                        <li>
                          Repair & RMA as needed for any factory defects
                        </li>
                        <li>
                          Power down & dismantle the test build, then package the system for transportation to the installation site
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
            <div class="stages-phase-info phase-3-2">
              <h3>Purpose: To finalize all standing obligations of both parties & confirm the installation date of the system
                as well as how the system will be installed.</h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Finalization</h3>
                  <ul>
                    <li>
                      Financial obligations are met
                    </li>
                    <li>
                      Installation type:
                      <ul>
                        <li>
                          Phased installation over several days while business is running
                        </li>
                        <li>
                          Shutdown & install
                        </li>
                      </ul>
                    </li>
                    <li>
                      Confirm installation date
                    </li>
                    <li>
                      Prepare method of system transportation & technicians assigned for installation
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
            <div class="stages-phase-info phase-3-3">
              <h3>Purpose: To install the system as requested & verified its operation.</h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Installation</h3>
                  <ul>
                    <li>
                      Validate that the system has been installed according to the installation checklist
                    </li>
                    <li>
                      Validate all aspects of the system functionality with the client
                    </li>
                    <li>
                      Collect client signature verifying that the checklist has been completed & the system is running to their satisfaction
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
            <div class="stages-phase-info phase-3-4">
              <h3>Purpose: To configure a centralized management solution to address security, patch, software, hardware, and
                operating concerns.
              </h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Endpoint Solutions</h3>
                  <ul>
                    <li>
                      Operating system updates:
                      <ul>
                        <li>Windows Server Update Service</li>
                      </ul>
                    </li>
                    <li>
                      3rd Party software patch management
                    </li>
                    <li>
                      Anti-virus & malware remediation:
                      <ul>
                        <li>AVG Business Internet Security Anti-virus</li>
                      </ul>
                    </li>
                    <li>
                      Physical asset security:
                      <ul>
                        <li>Full disk encryption for mobile computers</li>
                        <li>Group policy to avoid payload USB devices</li>
                      </ul>
                    </li>
                    <li>
                      Software & hardware management:
                      <ul>
                        <li>
                          OCS Inventory NG
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
            <div class="stages-phase-info phase-4-1">
              <h3>Purpose: To provide technical support to client systems.</h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Post installation support</h3>
                  <ul>
                    <li>
                      One month support following a system installation
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
            <div class="stages-phase-info phase-4-2">
              <h3></h3>
              <div class="row boxes square-box-with-i title-with-subs">
                <div class="box ">
                  <h3>Tiered Support</h3>
                  <ul>
                    <li>
                      Bronze tier support includes:
                      <ul>
                        <li>Remote support</li>
                        <li>Tier 1 Network Monitoring</li>
                        <li>Basic maintenance script</li>
                      </ul>
                    </li>
                    <li>
                      Silver tier support includes:
                      <ul>
                        <li>Remote support</li>
                        <li>Tier 2 Network Monitoring</li>
                        <li>Software & Hardware installation</li>
                        <li>Workstation configuration, deployment, & management</li>
                        <li>On-site support</li>
                        <li>Virus & Malware removal</li>
                      </ul>
                    </li>
                    <li>
                      Gold tier support includes:
                      <ul>
                        <li>Silver Tier support</li>
                        <li>Image creation & management</li>
                        <li>Asset tracking & management</li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <!--end of box-->
              </div>
              <!--square-box-with-i-->
            </div>
            <!--end phase-->
          </div>
          <!---end of Analitics-items container-->
        </section>
        <!---end of Data-Analitics Section-->
      </div>

      <!---Back side-->
      <div id="back" class="back side">
        <!---Registration Section-->
        <section>
          <h3>To learn more about our Desktop/Laptop Computing Services, please email us at </h3>
          <div class="row">
            <a class="larg-link" target="_blank">inquiries@alphait.us </a>
          </div>
        </section>
      </div>
      <!---Right side-->
      <div id="right" class="right side">

      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>