<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-redo-outline"></i>Executive Summary</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-redo-outline"></i>Scope, Approach, & Methodology</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-redo-outline"></i>approaches</a>
        </li>
        <li>
          <a class="show-left">
            <i class="ion-ios-redo-outline"></i>Key Assumptions</a>
        </li>
        <li>
          <a class="show-top">
            <i class="ion-ios-redo-outline"></i>Assessment activities & deliverables</a>
        </li>
        <!-- 
          <li>
              <a class="show-bottom">testimonials</a>

            </li> 
          -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---History Section-->
        <section>
          <h2>EXECUTIVE SUMMARY</h2>
          <div class="row boxes">
            <div class="box">
              Alpha Technologies is a provider of advanced Cyber Security services in the Private sector, Education sector, Health-care
              sector, Government & US military in United States. This proposal is for a Cyber Security assessment project
              in the client organization. The work will cover assessment of different areas which can act as vulnerabilities
              for the client which can be detrimental for the organization or its reputation.
              <br>
              <br> Alpha Technologies also provide Cyber Security Services in Industrial Control System (ICS) that support critical
              infrastructure of United States of America.
            </div>
          </div>
        </section>
        <!---end of History Section-->
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Alphas_solution Section-->
        <section id="profiles-list">
          <h2>SCOPE, APPROACH & METHODOLOGY</h2>
          <h4>
            The Cyber Security Assessment will examine internal & external security threats to organization. This assessment will evaluate
            the present security infrastructure & organizational security policies. There are some areas which will be
            the major part of this assessment.
          </h4>
          <div class="row">
            <ul>
              <li>External Network Vulnerability Assessment & Penetration Testing</li>
              <li>Internal Network Vulnerability Assessment & Penetration Testing</li>
              <li>DMZ or Network Architecture Designs / Reviews</li>
              <li>Wireless Network Assessment & Penetration Testing</li>
              <li>Server Configuration Reviews</li>
              <li>Firewall & Router Configuration Reviews</li>
              <li>Social Engineering Assessments</li>
              <li>Physical Security Reviews</li>
              <li>Information Security Policy Review</li>
              <li>Web Application Vulnerability Assessment & Penetration Testing</li>
              <li>ICS SCADA system security assessment</li>
            </ul>
          </div>
        </section>
      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <section>
          <h3>There are three different approaches we can perform this assessment with:</h3>
          <div class="row options">
            <ul>
              <li>
                Black Hat: In this approach we will work as external adversary without any background knowledge of the client’s organization
                system.
              </li>
              <li>
                Grey Hat: Gray hat approach is about getting little bit information about the organizational internal network, which provides
                better assessment results.
              </li>
              <li>
                White Hat: This approach includes getting some secret information about the organization like IP scheme, network topology,
                & IT assets classification.
              </li>
            </ul>
          </div>
          <h4>The whole assessment process will be performed according to Cyber Kill Chain methodology</h4>
        </section>
      </div>

      <!---Left side-->
      <div id="left" class="left side">
        <!---Methodology Section-->
        <section id="key-assumtion">
          <h2>KEY ASSUMPTIONS</h2>
          <div class="row">
            <div class="boxes square-oval">
              <div class="box">
                <p>A network connection to the client’s network will be provided & physical access to the premises will be
                  provided
                </p>
              </div>
              <div class="box">
                <p>Appropriate notification will be provided to stakeholders during the assessment so that business is aware
                  of the work being done</p>
              </div>
            </div>
          </div>
        </section>
        <!---end of Alphas_solution Section-->
      </div>
      <!---Top side-->
      <div id="top" class="top side">
        <!---Flexible_delivery Section-->
        <section id="assesment-activities">
          <h2>ASSESSMENT ACTIVITIES & DELIVERABLES</h2>
          <div class="row boxes square-box-with-i title-with-subs">
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>External Network security Assessment</h3>
              <ul>
                <p>
                  The External Network Security assessment shall include attempts to identify vulnerabilities & risks to the client information
                  system environment from the external internet. After this assessment, a results report will be reviewed
                  with the client technical team
                </p>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>Internal Network Security Assessment</h3>
              <ul>
                <p>
                  The Internal Network Security assessment shall include attempts to identify vulnerabilities in internal information systems.
                  Based on the provided authorization, a combination of scanning & attacking will be performed inside the
                  organization. Results with recommendations will be reviewed with technical team of the client.
                </p>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>DMZ or Network Architecture Designs / Review</h3>
              <ul>
                <p>
                  A complete evaluation of the present network infrastructure with industry parameters will be performed & analyzed. Server
                  , Firewall & Router Configurations will be reviewed with network architecture. Vulnerabilities & recommendations
                  will be discussed with the client technical team.
                </p>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>Wireless Network Assessment & Penetration Testing</h3>
              <ul>
                <p>
                  Wireless network security assessment will be done because wireless network is one of the easy targets to compromise in an
                  organizational security. Combination of different attacks will be performed & results with recommendations
                  will be reviewed with technical team of the client.
                </p>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>Social Engineering Assessments</h3>
              <ul>
                <p>
                  Social Engineering is the act of using coercion & other malicious tactics to gain access to an organization’s data or physical
                  premises. So we are including Social engineering assessment in this assessment. Assessment report with
                  recommendation on some attacks like Onsite Impersonation, phishing attack, dumpster diving, pretext calling
                  & other social engineering attacks will be provided in deliverables.
                </p>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>Physical Security Reviews</h3>
              <ul>
                <p>
                  A complete evaluation of present physical security services of building employees, IT assets & sensitive data will be performed.
                  Vulnerabilities & recommendations will be discussed with the client technical system.
                </p>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>Information Security Policy Reviews</h3>
              <ul>
                <p>
                  All the present physical security, applications security, system usage, data sharing, IT assets usage & other policies
                  will be reviewed according to market standards. A detailed report will be provided to the client management.
                </p>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>Web Application Vulnerability Assessment & Penetration Testing</h3>
              <ul>
                <p>
                  Web Applications are most important & open to public internet. Web Application Vulnerability Assessment & Penetration
                  Testing (VAPT) identifies the vulnerabilities like SQL injection, Cross Site Scripting in the web application.
                </p>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>ICS SCADA Security Assessment</h3>
              <ul>
                <p>
                  Industrial Control System supports critical infrastructure that includes Power Industry, Water Industry, and/or Oil/Gas Industry
                  needs to be protected. AlphaIT can assess the security of the client Company ICS SCADA system.
                </p>
              </ul>
            </div>
          </div>
        </section>
        <!---end of Flexible_delivery Section-->
      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">
      </div>
    </div>
  </div>
</section>