<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front"><i class="ion-ios-redo-outline"></i>Network</a>
        </li>
        <li>
          <a class="show-back"><i class="ion-ios-redo-outline"></i>Structured systems</a>
        </li>
        <li>
          <a class="show-right"><i class="ion-ios-redo-outline"></i>Planning</a>
        </li>
        <li>
          <a class="show-left"><i class="ion-ios-redo-outline"></i>schedule a consultation</a>
        </li>
        <!-- <li>
          <a class="show-top">Our advantage</a>
        </li> -->
        <!-- <li>
          <a class="show-bottom">testimonials</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Network_info Section-->
        <section>
          <div class="row">
            <h3>
              Alpha Technologies USA Inc. strongly believes that extensive planning should go into a network installation/implementation
              for quality purposes. A good project plan will help identify any strengths, weaknesses, opportunities, or threats.
              The plan should clearly define the tasks, & the order in which tasks are completed. Our main goal during
              the structured systems analysis is to accurately represent user & client needs. To make the project manageable,
              it will be divided it into modules that can be more easily maintained & changed.
            </h3>
            <h3>
              A network that is a patchwork of devices strung together, using a mixture of technologies & protocols, is usually an indicator
              of poor initial planning. These types of networks are susceptible to downtime, & are difficult to maintain
              & troubleshoot. Therefore, at the planning stage, our network engineer needs to take account of the existing
              equipment & technologies the network would have to operate with & their compatibility with the proposed
              equipment.
            </h3>
            </div>
        </section>
        <!---end of Network_info Section-->
        </div>
        <!---Back side-->
        <div id="back" class="back side">
          <!---Characre Section-->
          <section>
            <h2>Structured systems analysis has the following characteristics:</h2>
            <div class="row">
              <div class="boxes square-oval">

                <div class="box">
                  <p>The system will designed in a top-down sequence for better manageability.</p>
                </div>

                <div class="box">
                  <p>During the design project, several techniques & models can be used to:
                    <br> Characterize the existing system,
                    <br> Determine new user requirements,
                    <br> & propose a structure for the future system.</p>
                </div>

                <div class="box">
                  <p>A focus is placed on data flow, data types, & processes that access or change the data.</p>
                </div>

                <div class="box">
                  <p>A focus is placed on understanding the location & needs of user communities that access or change data
                    & processes.</p>
                </div>
                <div class="box">
                  <p>A logical model is developed before the physical model. The logical model represents the basic building
                    blocks, divided by function, & the structure of the system. The physical model represents devices and
                    specific technologies & implementations.
                  </p>
                </div>
                <div class="box">
                  <p>Specifications are derived from the requirements gathered at the beginning of the top-down sequence.</p>
                </div>
              </div>
            </div>
          </section>
          <!---end of Characre Section-->
        </div>

        <!---Right side-->
        <div id="right" class="right side">
          <!---Phases Section-->
          <section id="step-by-step-container">
            <h2>The planning of a local area network (LAN) has six distinct phases:</h2>
            <!---Stages container-->
            <div class="stages-phase-1-container">
              <!--id's will be filed from db-->
              <h3>Please click on stage</h3>
              <a id="assessment" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="boxes round-boxes">
                    <div class="box">
                      <p>Requirements Gathering/ Analysis Necessary</p>
                    </div>
                  </div>
                </div>
              </a>
              <a id="review" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="boxes round-boxes">
                    <div class="box">
                      <p>Design & Selection</p>
                    </div>
                  </div>
                </div>
              </a>
              <a id="analytics" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="boxes round-boxes">
                    <div class="box">
                      <p>Implementation</p>
                    </div>
                  </div>
                </div>
              </a>
              <a id="design" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="boxes round-boxes">
                    <div class="box">
                      <p>Operation</p>
                    </div>
                  </div>
                </div>
              </a>
              <a id="implementation" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="boxes round-boxes">
                    <div class="box">
                      <p>Review & Evaluation</p>
                    </div>
                  </div>
                </div>
              </a>
              <a id="deployment" href="#stages-phase-info-containerr">
                <div class="stage">
                  <div class="boxes round-boxes">
                    <div class="box">
                      <p>Maintenance & Support</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!---end of Stages container-->

            <!---Analitics-items container-->
            <div id="stages-phase-info-container" class="stages-phase-info-container">
              <!--items name will be filed from db-->
              <div class="stages-phase-info grey assessment">
                <p>
                  All the necessary information needed is gathered during a site survey & also from the client end users. A site survey provides
                  much information to the network engineer/designer & creates a proper starting point for the project.
                  It shows what is already on site, & gives a good indication as to what is needed.
                </p>

              </div>
              <div class="stages-phase-info grey review">
                <p>
                  Devices & cabling must be selected based on the requirements outlined in the Analysis Report. Multiple designs may also
                  be created to view the LAN from a documentation perspective & evaluate trade-offs in performance and
                  cost. It is during this step that any weaknesses of the design can be identified & addressed.
                </p>
              </div>
              <div class="stages-phase-info grey analytics">
                <p>
                  During this phase, all configuration to network devices & physical connections are started, if there are tasks that have
                  been overlooked in the earlier phases, they must be corrected during implementation. Creation of a good
                  implementation schedule & allowing for some additional time for unexpected events keep disruption of
                  the client’s business to a minimum. During the implementation, there should be strict adherence to standards,
                  such as color codes, operational limits, etc. Staying in constant communication with the client during
                  the installation is always critical to the success of the project.
                </p>
              </div>
              <div class="stages-phase-info grey design">
                <p>
                  The network is brought into service in what is termed a production environment. Prior to this step, the network is considered
                  to be in a testing or implementation phase. Operations objective is to achieve the lowest latency & highest
                  frequency possible to ensure business continuity.
                </p>
              </div>
              <div class="stages-phase-info grey implementation">
                <p>
                  After the network is operational, the design & implementation will need to be reviewed & evaluated. For this process,
                  the following steps are recommended: Compare the user experience with the goals in the documentation and
                  evaluate if the design is right for the job. Compare the projected designs & costs with the actual deployment.
                  This ensures that future projects will benefit from the lessons learned on this project. Monitor the operation
                  & record changes. This ensures that the system is always fully documented & accountable.
                </p>
              </div>
              <div class="stages-phase-info grey deployment">
                <p>
                  Custom plans take into consideration your company's network, how you adopt technology, user computer ability, IT budget,
                  & how involved you want to be with your network & budget. To customize an onsite maintenance plan for
                  your business needs please contact us today & a friendly & helpful Support Advisor call you to discuss
                  your support needs. Alpha’s IT Managed Services model provides clients with many support options to choose
                  from.
                </p>

              </div>
            </div>
            <!---end of Analitics-items container-->
          </section>
          <!---end of Phases Section-->
        </div>

        <!---Left side-->
        <div id="left" class="left side">
          <!---Contact_info Section-->
          <section>
            <div class="row">
              <h3>To schedule a consultation or if you have questions regards our services, please email</h3>
              <a class="larg-link">inquiries@alphait.us</a>
            </div>
          </section>
          <!---end of Contact_info Section-->
        </div>
        <!---Top side-->
        <div id="top" class="top side">

        </div>

        <!---Bottom side-->
        <div id="bottom" class="bottom side">
        </div>
      </div>
    </div>
</section>