<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-redo-outline"></i> Enterprise Helpdesk & Monitoring Services</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-redo-outline"></i> Pricing Models</a>
        </li>
        <!-- <li>
                    <a class="show-right">Job Types</a>
                  </li> -->
        <!-- <li>
                    <a class="show-left">job-profiles</a>
                  </li> -->
        <!-- <li>
                    <a class="show-top">Our advantage</a>
                  </li> -->
        <!-- <li>
                    <a class="show-bottom">testimonials</a>
                  </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!--- Helpdesk_and_Monitoring_Services Section -->
        <section>
          <h2>Alpha’s IT Enterprise Helpdesk & Monitoring Services</h2>
          <h4>
            Alpha Technology Helpdesk & Monitoring Services include an ITIL multi-tiered model - Tier 1, Tier 2, & Tier 3, covering multiple
            functions & support processes including but not limited to the following:
          </h4>
          <div class="row options">
            <ul>
              <li>ITIL-based model (Cloud-based)</li>
              <li>Service Desk management</li>
              <li>First Point of Contact</li>
              <li>Service Requests</li>
              <li>Incident Management</li>
              <li>Problem Management</li>
              <li>IT Communications</li>
              <li>Knowledge Management & documentation</li>
              <li>Major Event Management</li>
              <li>Remote monitoring of critical systems</li>
              <li>Active Directory Administration (Provisioning & De-provisioning Accounts)</li>
              <li>Effective incident & problem management processes</li>
              <li>Effective escalation & resolution processes</li>
              <li>High First Call Resolution Rate (80-85%)</li>
              <li>Continuous Training</li>
              <li>Low abandonment rate – tied to effective ASA</li>
              <li>Effective Monitoring & Reporting – take corrective actions quickly</li>
              <li>Automation – ticket routing & assignment should be seamless</li>
              <li>Self-Service - allow end users to perform repetitive services</li>
              <li>Templates & standardization – eliminate the need for guess work & reduce human errors</li>
              <li>Problem prevention - through solid trending & root cause analysis </li>
            </ul>
          </div>
        </section>
        <!--- end of Helpdesk_and_Monitoring_Services Section -->

      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!--- Pricing_Models Section -->
        <section>
          <div class="row">
            <h2>Pricing Models</h2>
            <div class="boxes one-box-in-line  title-with-subs">
              <div class="box">
                <h3>Option 1 – Bronze</h3>
                <ul>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          5X8 (Mon-Fri) live support via a dedicated number
                        </span>
                      </span>

                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          Basic hardware & software troubleshooting
                        </span>
                      </span>

                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          First point of contact
                        </span>
                      </span>

                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          Incident management
                        </span>
                      </span>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          Service requests
                        </span>
                      </span>
                    </p>
                </ul>
              </div>
              <div class="box">
                <h3>Option 2 – Silver</h3>
                <ul>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>7X8 (Mon-Fri) live support via a dedicated number</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>After hours & weekend on-call support for critical (P1) issues</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>Provides more complex support on application software and/or hardware</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>Includes Bronze support</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>IT Communications</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>Knowledge Management</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>Major Event Management</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>Weekly call volume calls per day</p>
                  </li>
                </ul>
              </div>
              <div class="box">
                <h3>Option 3 – Gold</h3>
                <ul>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>24/7 live support via a dedicated number</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>
                      Provides even more specialized & complex hardware, OS & software support to end users. This is designed to handle the most
                      difficult or advanced problems that are reported to the Helpdesk. This service is considered Dedicated
                      Service & requires highly technical agents to handle this type of call
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>Includes Silver support</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>Remote monitoring of critical systems</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>AD Administration (account provisioning & de-provisioning)</p>
                  </li>
                  <li>
                    <p>
                      <span class="icon-with-text">
                        <i></i>
                        <span>
                          application support
                        </span>
                      </span>Patch management, managed security, online backup & help desk services </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!---end of Pricing_Models-->

      </div>

      <!---Right side-->
      <div id="right" class="right side">

      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>