<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-star-outline"></i>Benefits</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-barcode-outline"></i>Innovation & Automation</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-color-filter-outline"></i>main areas of focus</a>
        </li>
        <!-- <li>
                    <a class="show-left"></a>
                  </li> -->
        <!-- <li>
                    <a class="show-top"></a>
                  </li> -->
        <!-- <li>
                    <a class="show-bottom"></a>
                  </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Benefit_types Section-->
        <section>
          <h2>Benefits of Alpha’s Innovation & Automation Program</h2>

          <div class="row">
            <div class="boxes square-oval">

              <div class="box">
                <p>Reduction in manual & business-as-usual processes</p>
              </div>

              <div class="box">
                <p>Client’s IT resources focus on more core IT functions</p>
              </div>

              <div class="box">
                <p>Streamlining the use of SSH for application deployment & system administration tasks</p>
              </div>
              <div class="box">
                <p>
                  Make it easier for cloud engineers & other IT professionals to write portable administration & deployment scripts
                </p>
              </div>
              <div class="box">
                <p>
                  Automate repetitive infrastructure tasks such as nodes updates & patches
                </p>
              </div>
              <div class="box">
                <p>
                  IT engineers to build complete deployments & transform nodes from bare-metal into a ready state production cluster quickly
                  & easily
                </p>
              </div>
              <div class="box">
                <p>
                  IT cloud engineers to build complete cloud environment with a few commands
                </p>
              </div>
            </div>
          </div>
        </section>
        <!---end of Benefit_types Section-->
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <section>
          <h2>Innovation & Automation</h2>
          <div class="row boxes">
            <div class="box">
              Alpha’s Innovation & Automation program focuses on developing new & enhancing current automation tools while developing
              core competence in emerging technologies. Our innovators & develops work with our clients to tailor these
              tools to automate business-as-usual functions & streamline IT & business processes.
            </div>
          </div>
        </section>
        <!---end of Inovation_and_automation_info Section-->
      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <!---Area_of_focus_types Section-->
        <section>
          <h2>Our main areas of focus are</h2>

          <div class="row">
            <div class="boxes">
              <div class="box">
                <p>Infrastructure/Application Automation (e.g. configuration management)</p>
              </div>

              <div class="box">
                <p>Robotic Process Automation</p>
              </div>

              <div class="box">
                <p>Convergence - Software Defined Networks</p>
              </div>

              <div class="box">
                <p>Mobile Apps Development</p>
              </div>
              <div class="box">
                <p>Cloud Technologies</p>
              </div>
              <div class="box">
                <p>Block Chain – Lab-as-a-service</p>
              </div>
            </div>
          </div>
        </section>
        <!---end of Area_of_focus_types Section-->
      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>