<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-shuffle-strong"></i>What we do</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-recording-outline"></i>Our History</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-color-wand-outline"></i>Our Mission</a>
        </li>
        <!-- <li>
          <a class="show-left">partners</a>
        </li>
        <li>
          <a class="show-top">our-clients</a>
        </li>
        <li>
          <a class="show-bottom">testimonials</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">
      <!--load cube shemosvlis efeqts dzens-->
      <!---Front side-->
      <div id="front" class="front side">
        <!---About Section-->
        <section id="about-types">
          <h2>Alpha Specializes in Four Domains</h2>

          <div class="row">
            <div class="boxes round-boxes">
              <div class="box">
                <p>
                  <span class="highlight">"On-Shore Off-Site"</span> IT Managed Services</p>
              </div>

              <div class="box ">
                <p>IT Training & Innovation</p>
              </div>

              <div class="box">
                <p>IT Talent Acquisition</p>
              </div>

              <div class="box">
                <p>Resale Computer Hardware & software</p>
              </div>
            </div>
          </div>
        </section>
        <!---end of About Section-->
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---History Section-->
        <section>
          <h2>Alpha Technologies Inc</h2>
          <div class="row boxes">
            <p class="box">
              Established in 1997, Alpha is a leading provider of IT solutions & consulting services to a diverse & global clientele. Specializing
              in
              <span class="icon-with-text">
                <i></i>
                <span>
                  application support
                </span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>
                  software development
                </span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>
                  staff augmentation
                </span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>
                  system integration
                </span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>
                  infrastructure maintenance
                </span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>
                  data-center maintenance & relocation services
                </span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>
                  compliance & corporate governance
                </span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>
                  cloud migration & support services & automation
                </span>
              </span>
              Alpha has also earned a respected reputation for its expertise in infrastructure services. Our knowledgeable
              staff has impressive credentials & experience in delivering superior turnkey technology solutions
            </p>
          </div>
        </section>
        <!---end of History Section-->

      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <section>
          <h2>Our Mission</h2>
          <div class="row boxes">
            <p class="box">
              To be the alternative to Off-Shoring by providing <span class="highlight">"On-Shore Off-Site"</span> cost-effective & innovative Managed IT solutions to companies,
              focusing on quality, efficiency & outstanding customer support. We achieve this by maintaining the highest
              degree of integrity with our clients & employees.
            </p>
            <a routerLink="/on-shore" class="larg-link">Our services</a>
          </div>
          <div class="info-img box">
            <img src="assets/resources/img/pics/career.jpg">
          </div>
        </section>
      </div>

      <!---Left side-->
      <div id="left" class="left side">
        <!---Highlits Section-->
        <section class="highlits">
          <figure class="img-block-container">
            <img src="resources/img/aboutus-mains.png" />
          </figure>
        </section>
      </div>
      <!---Top side-->
      <div id="top" class="top side">
      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">
        <!---end of Testimonials Section-->
      </div>
    </div>
  </div>
</section>