.about-img {
    background:linear-gradient(rgba(0, 0, 0,0.6), rgba(0,0,0, 0.2)) ,url(/assets/resources/img/pics/client-page.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.img-block-container img{
    width: 50%;
}
