<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-bolt-outline"></i>Our Focus</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-settings"></i>Key Benefits</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-star-outline"></i>Sample of Courses</a>
        </li>
        <li>
          <a class="show-left">
            <i class="ion-ios-color-wand-outline"></i>Our Automation Strategy Will Help</a>
        </li>
        <li>
          <a class="show-top">
            <i class="ion-ios-paperplane-outline"></i> Program</a>
        </li>
        <!-- <li>
          <a class="show-bottom">testimonials</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">
      <!---Front side-->
      <div id="front" class="front side">
        <section>
          <h2>Courses are Tailored to Client Requirements</h2>
          <div class="row">
            <div class="boxes square-oval">
              <div class="box">
                <p>
                  Alpha’s Information Technology(IT) Training & Innovation Center is designed to develop the right technical skills for the
                  jobs of today & the future
                </p>
              </div>
              <div class="box">
                <p>
                  Alpha training focuses on enhancing current automation tool skill sets as well as developing core competencies in emerging
                  technologies.
                </p>
              </div>
              <div class="box">
                <p>
                  Our innovators work with our partner network to develop tools tailored to automate tasks & processes required by our clients.
                </p>
              </div>
            </div>
          </div>
          <h2>Our IT Training Programs Cater To</h2>
          <div class="row boxes square-box-with-i title-with-subs">
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>TIER A Prospective Trainees
              </h3>
              <ul>
                <li>College Graduates</li>
                <li>Veterans</li>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>TIER B Prospective Trainees
              </h3>
              <ul>
                <li>Individuals already pursuing a career in IT</li>
                <li>Individuals looking to deepen their knowledge & skills
                </li>
              </ul>
            </div>
          </div>
          <!---Registration Section-->
          <h2>Explore & Register For Courses?</h2>
          <div class="row">
            <a href="https://nhlearningsolutions.com/Portals/AlphaTechnologies/tabid/3523/Default.aspx" class="larg-link" target="_blank">Register</a>
          </div>
        </section>
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Benefits_and _offers Section-->
        <section id="key-benefits">
          <h2>Key Benefits</h2>
          <div class="row">
            <div class="boxes square-oval">
              <div class="box">
                <p>
                  Constant supply of talent in niche technologies
                </p>
              </div>

              <div class="box">
                <p>
                  Lower overall training costs for our clients
                </p>
              </div>

              <div class="box">
                <p>
                  Pre-training prior to on-boarding
                </p>
              </div>

              <div class="box">
                <p>
                  Automated manual processes
                </p>
              </div>

              <div class="box">
                <p>
                  Helps our clients deepen expertise in niche technology areas based on their application matrix
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <section id="sample-of-courses">
          <h2>I.T. Training</h2>
          <h4>
            Alpha’s I.T Training of niche technologies is designed to develop the right technical skills for the jobs of today & the
            future.
          </h4>
          <h2>Sample of Courses Offered</h2>
          <div class="row options">
            <ul>
              <li>SAP</li><br>
              <li>Salesforce</li><br>
              <li>Perl</li>
              <li>Puppet</li>
              <li>Banking</li><br>
              <li>Introduction to Investment</li>
              <li>ServiceNow</li><br>
              <li>Big Data (Hadoop, Cassandra, MongoDB)</li>
              <li>Workday</li><br>
              <li>Cloud Technologies (e.g.AWS, Microsoft Azure)</li>
              <li>Mainframe Programming</li><br>
            </ul>
          </div>
        </section>
      </div>

      <!---Left side-->
      <div id="left" class="left side">
        <section id="our-automation">
          <h2>Our Automation Strategy Will Help</h2>
          <div class="row">
            <div class="boxes square-oval">
              <div class="box">
                <p>
                  Application deployment & system administration tasks
                </p>
              </div>

              <div class="box">
                <p>
                  Make it easier for cloud engineers & other I.T professionals to write portable administration & deployment scripts.
                </p>
              </div>

              <div class="box">
                <p>Automate repetitive infrastructure tasks</p>
              </div>

              <div class="box">
                <p>
                  I.T engineers to build complete deployments & transform nodes from bare-metal into a ready state production cluster quickly
                  & easily.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!---Top side-->
      <div id="top" class="top side">
        <section id="tiers">
          <h2>Alpha’s Advantage</h2>
          <div class="row">
            <div class="boxes">
              <div class="box">
                <p>
                  I.T Training program is geared towards providing continuous pipeline for “niche” talent as well as training resources for
                  hard to find talent (ServiceNow, Salesforce, Blockchain, Workday, Data Analytics etc).
                </p>
              </div>
            </div>
          </div>

          <h2>Our program caters to:</h2>
          <div class="row boxes square-box-with-i title-with-subs">
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>
                TIER A
              </h3>
              <ul>
                <li>
                  Prospective Trainees would include college graduates & veterans who are looking to develop proficiencies in IT disciplines
                  & pursue a career in IT. We partner with local universities to identify high-performing college students
                  who are about to graduate.
                </li>
              </ul>
            </div>
            <div class="box">
              <i class="ion-ios-thunderstorm-outline"></i>
              <h3>TIER B
              </h3>
              <ul>
                <li>
                  Prospective Trainees would be those who are already in I.T or other areas of business & are looking to deepen their knowledge
                  in I.T or develop a career in I.T respectively. Alpha will tailor training to meet the needs of our clients
                  based on their needs for skills in their critical strategic application matrix.
                </li>
              </ul>
            </div>
          </div>
          <!---Registration Section-->
          <h2>Explore & Register For Courses?</h2>
          <div class="row">
            <a href="https://nhlearningsolutions.com/Portals/AlphaTechnologies/tabid/3523/Default.aspx" class="larg-link" target="_blank">Register</a>
          </div>
        </section>
        <!---end of Training_Program Section-->

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">
      </div>
    </div>
  </div>
</section>