<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front"><i class="ion-ios-redo-outline"></i>field & branch offices</a>
        </li>
        <!-- <li>
                    <a class="show-back">Step interview process</a>
                  </li> -->
        <!-- <li>
                    <a class="show-right">Job Types</a>
                  </li> -->
        <!-- <li>
                    <a class="show-left">job-profiles</a>
                  </li> -->
        <!-- <li>
                    <a class="show-top">Our advantage</a>
                  </li> -->
        <!-- <li>
                    <a class="show-bottom">testimonials</a>
                  </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Branch_offices Section-->
        <section>
          <h2>Alpha Technologies provides a suite of IT support services for field & branch offices. Our options are outlined
            below</h2>
          <div class="row">
            <div class="boxes one-box-in-line title-with-subs">
              <div class="box">
                <h3>Option 1 – Break/Fix Model</h3>
                <ul>
                  <li>
                    <p>Full time Alpha resource on/close to sites with greater than 80 associates</p>
                  </li>
                  <li>
                    <p>On-demand service for sites less than 80 employees or less than 20 incidents per week</p>
                  </li>
                  <li>
                    <p>FM responsible for all hardware replacements (build, configure, deploy) </p>
                  </li>
                  <li>
                    <p>Alpha provides break-fix support as per IT’s SLA with the business</p>
                  </li>
                  <li>
                    <p>Alpha performs semi-annual preventative maintenance</p>
                  </li>
                  <li>
                    <p>Alpha provides other services to branches as per FM needs</p>
                  </li>
                </ul>
              </div>
              <div class="box">
                <h3>Option 2 – Charge Back Model</h3>
                <ul>
                  <li>
                    <p>Full time Alpha resource on/close to sites with greater than 80 associates</p>
                  </li>
                  <li>
                    <p>On-demand service for sites less than 80 employees or less than 20 incidents per week</p>
                  </li>
                  <li>
                    <p>Alpha performs all hardware replacements (build, configure, deploy) & charge back to FM</p>
                  </li>
                  <li>
                    <p>Alpha sets up a couple regional equipment depots</p>
                  </li>
                  <li>
                    <p>Alpha provides break-fix support as per IT’s SLA with the business</p>
                  </li>
                  <li>
                    <p>Alpha performs semi-annual preventative maintenance</p>
                  </li>
                  <li>
                    <p>Alpha provides other services to branches as per FM needs</p>
                  </li>
                </ul>
              </div>
              <div class="box">
                <h3>Option 3 – Full Support Model</h3>
                <ul>
                  <li>
                    <p>Alpha purchases current hardware & take full ownership of assets</p>
                  </li>
                  <li>
                    <p>Alpha is responsible for hardware build, configure & deployment</p>
                  </li>
                  <li>
                    <p>Alpha is responsible for patch & anti-virus management</p>
                  </li>
                  <li>
                    <p>Alpha is responsible for all moves, adds & changes</p>
                  </li>
                  <li>
                    <p>Full time Alpha resource on/close to sites with greater than 80 associates</p>
                  </li>
                  <li>
                    <p>On-demand service for sites less than 80 employees or less than 20 incidents per week</p>
                  </li>
                  <li>
                    <p>5-10% Inventory on-site for critical hardware</p>
                  </li>
                  <li>
                    <p>Alpha provides break/fix support as per IT’s SLA with the business</p>
                  </li>
                  <li>
                    <p>Alpha provides full remote monitoring of sites</p>
                  </li>
                  <li>
                    <p>Alpha performs preventative maintenance as needed</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!---end of Branch_offices Section-->
      </div>
      <!---Back side-->
      <div id="back" class="back side">

      </div>

      <!---Right side-->
      <div id="right" class="right side">

      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>