<section>
    <!---Gallery_Slider's Section-->
    <h2>Gallery</h2>

    <h3>please choose a folder</h3>
    <!-- array for groups -->
    <div class="row boxes immage-boxes title-with-subs">
        <ng-container *ngFor="let galleryfolders of gallery;let i=index">
            <!-- array to show folders inside current group -->
            <!-- on clicking a tag we are trowing event with i(group index) & j(folder) index infos to show this folder in slider  -->
            <a class="img-container box" *ngFor="let folder of galleryfolders.gallery_folders;let j=index" (click)="onFolderClick(i,j)">
                <figure>
                    <img data-src="{{folder.main_photo}}" />
                </figure>
                <h3>{{folder.title}}</h3>
                <span class="num-of-photos">({{folder.num_of_photos}})</span>
                <span class="title-photos">Photos</span>
            </a>
        </ng-container>
        <!---end of Gallery_Slider's Section-->
    </div>
</section>