/*******************Contact styles*******************/

/*--------Form Section--------*/

/*Mail Form Section(includes bgcolor,form)*/

#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/resources/img/pics/contact-us.jpg);
    background-size: cover;
}

/*mail form*/

form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    float: none;
}

/*inputs inside form */

form input {
    float: left;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    padding: 15px;
    font-weight: 300;
    font-size: 100%;
    border: 1px solid #006FA1;
}

/*containers for input and label */

form div {
    margin: 5px 1%;
    width: 90%;
    display: inline-block;
}

/*label for inputs*/

form label, .error {
    padding-left: 10px;
    font-size: 100%;
    padding-bottom: 5px;
    float: left;
    font-weight: 500;
    color: white;
}

.error {
    font-weight: 600;
    color: red!important;
}

/*container,row of label and input containers(There is 2 inout in one line,in one filedset)*/

fieldset {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    /* padding: 10px 0px; */
    border: 0px solid red;
    text-align: center;
}

/*container for texarea and its label*/

.textarea-container {
    margin-top: 30px !important;
}

/*textarea of form*/

textarea {
    padding: 10px;
    display: inline-block;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 120%;
    border: 1px solid #006FA1;
    resize: none;
}

/*send button of form*/

.send-btn:disabled {
    background-color: grey;
}

.send-btn:hover {
    background-color: rgb(0, 176, 255);
}
.send-btn {
    display: block;
    float: none;
    margin: 5px auto;
    width: 90%;
    height: auto !important;
    background-color: #006FA1;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 1.3s cubic-bezier(.75, .92, 0, 0);
    cursor: pointer;
}

/*--------end of Form Section--------*/

/*--------Join-Team Section--------*/

/*"or" text */

.join-team-or {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 200%;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

/*--------end of Join-Team Section--------*/

/*--------Our-Location Section--------*/

/*locations section*/

/* large box for head office info */

.large-box {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #cecece;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    margin: auto;
    float: none;
}

/* .large-box .box{
    width: 100%;
} */

/* container for box-es in our-location section (georgia,india,poland) */

#our-locations .boxes {
    margin-top: 50px;
    display: block;
    margin: 0 auto;
    width: 100%;
    /*    display: inline-block;*/
    /* overflow: hidden; */
}

/*box-es in location section*/

#our-locations .box {
    margin: 10px 0px;
    border-radius: 20px;
    border: 1px solid #cecece;
    vertical-align: top;
    padding: 10px;
    position: relative;
    width: 100%;
}

/*each office in country*/

.office-in-country:before {
    content: " ";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #dbdbdb;
    margin: 20px auto;
}

.office-in-country {
    margin-top: 10px;
}

/*informations,titles in locations box*/

#our-locations ul li {
    display: block;
    margin-top: 5px;
}

/*title in head office line(disaster recovery center)*/

.location-title {
    display: inline-block;
    font-size: 120%x;
    color: #006FA1;
}

/* Coutry names in location box */

.location-country {
    display: inline-block;
    margin: 15px;
    font-size: 130%;
    color: #006FA1;
}

/*map container its for all map containers in our-location*/

.map {
    height: 200px;
    margin-bottom: 40px;
    border-radius: 20px;
}

input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
    border: 1px solid red;
}

/*--------end of Our-Location Section--------*/
/*--------Social Links Section--------*/
.youtube{
    color:#cd201f;
}
.facebook{
    color:#3b5999;
}
.linked-in{
    color:#0077B5;
}

.twitter{
    color: #55acee;
}

.social-links-container i{
    font-size: 400%;
    margin: 10px;    
    transition: all 1.3s cubic-bezier(.75, .92, 0, 0);
}
.icon-with-text span {
    font-weight: 300;
}


.social-links-container i:hover{
    color: white;
}

.info-img-container img{
    width: 30%;
    height: auto;
}

/*******************end of Contact styles*******************/
.attenetion{
    color :red;
}