<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-people"></i> alpha is Your partner</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-cart"></i> Alpha’s products</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-lightbulb-outline"></i> Alpha’s solution</a>
        </li>
        <li>
          <a class="show-left">
            <i class="ion-ios-checkmark-outline"></i> Alpha provides</a>
        </li>
        <!-- <li>
            <a class="show-top">Our advantage</a>
          </li> -->
        <!-- <li>
            <a class="show-bottom">testimonials</a>
          </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Partner_for_your_needs Section-->
        <section>
          <h2>A Partner for Your Particular Needs</h2>
          <div class="row boxes">
            <p class="box">
              Deciding on what equipment or software to buy for your business can be challenging & frustrating. Whether a client is looking
              to purchase desktops & laptops, data center hardware such as servers & storage systems or networking equipment
              such as routers & switches. Alpha Technologies offers procurement services to aid in the decision-making
              process.
              <br>
              <br> We work with leading industry channel partners & suppliers, such as Cisco, HP, Lenovo, Dell, IBM, Microsoft
              & Ingram Micro to ensure a smooth process from order to delivery. Alpha offers our clients the best prices
              & availability possible.
              <br>
              <br> Alpha’s procurement service saves time & money, & you can have confidence in the quality of our process.
              Also, since we are a full IT Managed Services provider, we can assist with configuration, installation and
              support.
            </p>
          </div>
        </section>
        <!---end of Partner_for_your_needs Section-->

      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Alphas_products Section-->
        <section id="products">
          <h2>Alpha Offers Procurement Services for the Following:</h2>
          <div class="row ">
            <div class="boxes">
              <div class="box">
                <p>Servers & Storage</p>
              </div>

              <div class="box">
                <p>Workstations (laptops & desktops)</p>
              </div>

              <div class="box">
                <p>Printers</p>
              </div>

              <div class="box">
                <p>Routers & Switches</p>
              </div>

              <div class="box">
                <p>Wireless gear (access points etc.)</p>
              </div>

              <div class="box">
                <p>Client Software (MS Office etc.)</p>
              </div>

              <div class="box">
                <p>Enterprise Software</p>
              </div>

              <div class="box">
                <p>And More!</p>
              </div>
            </div>
          </div>
        </section>
        <!---end of Alphas_products Section-->
      </div>
      <!---Right side-->
      <div id="right" class="right side">
        <!---Alphas_solution Section-->
        <section id="profiles-list">
          <h2>Alpha’s Solutions Includes:</h2>
          <div class="row">
            <ul>
              <li class="box">
                Needs assessment & requirements gathering – we determine your hardware & software needs
              </li>
              <li class="box">
                Research – we conduct the required searches within our channel to ensure that we get the best possible prices
              </li>
              <li class="box">
                Quote – we provide quote based on your needs
              </li>
              <li class="box">
                PO Issued – you provide us with the PO for the order
              </li>
              <li class="box">
                Order – we order based on your approval
              </li>
              <li class="box">
                Delivery – we ensure that the product is shipped & delivered to you
              </li>
              <li class="box">
                Invoicing – we provide invoice to you with PO number for easy processing
              </li>
            </ul>

          </div>
        </section>
        <!---end of Alphas_solution Section-->

      </div>

      <!---Left side-->
      <div id="left" class="left side">
        <!---Alpha_provides Section-->
        <section>
          <h2>Alpha’s procurement services</h2>
          <div class="row boxes">
            <div class="box">
              To find out more about our Computer Hardware & Software Procurement Services, please contact our Sales Department at 1-800-XXX-XXXX
              or email sales@alphait.us
            </div>
          </div>
          <div class="info-img box">
            <img src="assets/resources/img/pics/career.jpg">
          </div>
        </section>
        <!---Alpha_provides Section-->
      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>