<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-star-outline"></i> IT Talent Acquisition</a>
        </li>
        <!-- <li>
          <a class="show-back">
            <i class="ion-ios-settings"></i>Step interview process</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-briefcase-outline"></i> Job Types</a>
        </li> -->
        <li>
          <a class="show-left">
            <i class="ion-ionic"></i> job-profiles</a>
        </li>
        <li>
          <a class="show-top">
            <i class="ion-arrow-graph-up-right"></i> Our advantage</a>
        </li>
        <!-- <li>
          <a class="show-bottom">testimonials</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <section>
          <h2>I.T Talent Acquisition</h2>
          <ul class="bullets">
            <li>
              <h4>For the past 20 Years Alpha Technologies has provided qualified & skilled IT professionals to fortune 500 companies
                in various industries globally</h4>
            </li>
            <li>
              <h4>
                Our candidates are known for their professionalism & our recruiters have deep pool of experienced talent
              </h4>
            </li>
          </ul>
          <div class="row boxes square-box-with-i title-with-subs">
            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>Our Process</h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Shortlisting Candidates
                </li>
                <li>
                  <i class="ion-android-done"></i>Technical Interview
                </li>
                <li>
                  <i class="ion-android-done"></i>In-Person Interview</li>
              </ul>
            </div>
            <div class="box">
              <h3>
                <i class="ion-ios-bolt-outline"></i>Our Approach</h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Contract</li>
                <li>
                  <i class="ion-android-done"></i>Contract to Full Time</li>
                <li>
                  <i class="ion-android-done"></i>Full Time</li>
                <li>
                  <i class="ion-android-done"></i>Project Team</li>
              </ul>
            </div>
            <div class="box">
              <h3>
                <i class="ion-ios-bolt-outline"></i>Provided Skilled Resources In
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Infrastructure Support/Maintenance</li>
                <li>
                  <i class="ion-android-done"></i>Application Support & Development</li>
                <li>
                  <i class="ion-android-done"></i>Enterprise Applications</li>
                <li>
                  <i class="ion-android-done"></i>Cloud Technology</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <!---Back side-->
      <div id="back" class="back side">
      </div>

      <!---Right side-->
      <div id="right" class="right side">
      </div>

      <!---Left side-->
      <div id="left" class="left side">
        <!---Job_profiles Section-->
        <section id="job-profiles">
          <h2>Our recruitment staff works closely with the client to source the skilled candidates</h2>

          <div class="row options">
            <ul>
              <li>System Administrators (Unix, Linux, Windows & Main Frame)</li>
              <li>Database Administrators/Architects</li>
              <li>Storage Engineers (SAN & NAS)</li>
              <li>Developers & Programmers</li>
              <li>Data Analytics/Big Data (Cassandra, MongoDB, Hadoop)</li>
              <li>Database design, architecting & maintenance</li>
              <li>Help/Service desk support &amp; Services</li>
              <li>Web Services</li>
              <li>Network engineers to support & architect client network</li>
              <li>L1, L2 Applications support</li>
              <li>Systems re-engineering integration</li>
              <li>Business & System Analysts</li>
              <li>Middleware (Weblogic, Websphere, Tibco, MQSeries)</li>
              <li>System, Data & application Security</li>
              <li>Virtualization & Cloud Computing</li>
            </ul>

          </div>
        </section>
        <!---end of Job_profiles Section-->

      </div>
      <!---Top side-->
      <div id="top" class="top side">
        <!---Our_advantage Section-->
        <section>
          <h2>Our advantage</h2>
          <div class="row">
            <div class="box">
              Our 18+ years of Staff-Augmentation experience, having access to hundred thousands of skilled resources to meet our client’s
              managed services requirements.
              <br><br>
              <span class="middle-text">Resource Access : </span>
              No double dipping, client has the right to hire, fire, update skill set anytime they
              feel like. They have the right to hire our resources as their FTE’s if needed.
            </div>
            <a routerLink="/contact" class="larg-link">E-mail us now</a>
          </div>
        </section>
        <!---end of Our_advantage Section-->
      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>