<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-redo-outline"></i>AV/VC Services</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-redo-outline"></i>Step interview process</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-redo-outline"></i>Job Types</a>
        </li>
        <!-- <li>
                  <a class="show-left">job-profiles</a>
                </li> -->
        <!-- <li>
                  <a class="show-top">Our advantage</a>
                </li> -->
        <!-- <li>
                  <a class="show-bottom">testimonials</a>
                </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <section>
          <h2>Introduction to Alpha’s AV/VC Services</h2>
          <h4>
            With unified communications, multiple modes of business communications are integrated, improving collaboration between teams
            anytime, anywhere. AV/VC collaboration is not a specific product but a collection of elements that include:
          </h4>
          <div class="row">
            <div class="boxes round-boxes">
              <div class="box">
                <p>
                  Call control & multimodal communications
                </p>
              </div>

              <div class="box">
                <p>
                  Telepresence
                </p>
              </div>

              <div class="box">
                <p>
                  Instant messaging
                </p>
              </div>

              <div class="box">
                <p>
                  Speech access & personal assistant
                </p>
              </div>

              <div class="box">
                <p>
                  Conferencing (audio, Web & video)
                </p>
              </div>

              <div class="box">
                <p>
                  Collaboration tools
                </p>
              </div>

              <div class="box">
                <p>
                  Mobility
                </p>
              </div>

              <div class="box">
                <p>
                  Business process integration
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Collaboration_can_help Section-->
        <section>
          <h2>
            AV/VC & Collaboration deployments can help businesses:
          </h2>
          <div class="row options">
            <ul>
              <li>
                Boost productivity
              </li>
              <li>
                Increase revenues
              </li>
              <li>
                Reduce costs
              </li>
              <li>
                Enhance customer relationships
              </li>
              <li>
                Increased responsiveness
              </li>
              <li>
                Accelerated collaboration
              </li>
            </ul>
          </div>
          <div class="row boxes">
            <p class="box">
              This combines communications services into a single interface, including instant messaging, voice, presence, video conferencing,
              desktop sharing, apps & so on.
              <br>
              <br> 
              Video conferencing has been around for many years, but thanks to advances in technology & falling costs,
              video has now become a mainstream means of collaboration for businesses of all sizes. The options range from
              free social platforms like Skype, to web conferencing platforms like GoToMeeting, room-based video at around
              $10,000 per room to equip, or telepresence rooms that can cost $100,000 or more to outfit. These options offer
              the ability to join meetings from mobile clients on smartphones, tablets & laptops.
            </p>
          </div>
        </section>
        <!---end of Collaboration_can_help Section-->
      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <!---Plan_of_action Section-->
        <section>
          <h2>Plan of Action (Framework) </h2>
          <div class="row">
            <h4>
              The framework for a well-thought-out AV/VC roadmap is critical, which adds value up front, & helps clients carefully plan
              & successfully deploy. Below are the high-level elements of the action plan for an AV/VC deployment.
            </h4>

            <figure class="img-block-container">
              <img src="assets/resources/img/plan-of-action.png" />
            </figure>
          </div>
        </section>
        <!---end of Plan_of_Action-->
      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>