<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-redo-outline"></i>mobilty & wireless services</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-redo-outline"></i>more info</a>
        </li>
        <!-- <li>
                  <a class="show-right">Job Types</a>
                </li> -->
        <!-- <li>
                  <a class="show-left">job-profiles</a>
                </li> -->
        <!-- <li>
                  <a class="show-top">Our advantage</a>
                </li> -->
        <!-- <li>
                  <a class="show-bottom">testimonials</a>
                </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">
      <!---Front side-->
      <div id="front" class="front side">
        <!---Mobility_wireless Section-->
        <section id="benefit-types">
          <h2>Mobility & Wireless Services</h2>

          <h4>Alpha Technologies provides a comprehensive range of mobility services for our clients.</h4>
          <div class="row">
            <div class="boxes one-box-in-line title-with-subs">
              <div class="box">
                <h3>Mobile Devices Covered</h3>
                <ul>
                  <li>
                    Apple phones
                  </li>
                  <li>
                    Android phones
                  </li>
                  <li>
                    Tablets
                  </li>
                  <li>
                    Wireless Access Points
                  </li>

                </ul>
              </div>
              <div class="box">
                <h3>Process</h3>
                <ul>
                  <li>
                    Analysis - Alpha’s mobility experts evaluate organization’s goals in regards to mobile technology. We also evaluate needs
                    for mobile device management & security. We then gather & document requirements
                  </li>
                  <li>
                    Solution – Alpha’s team facilitate device evaluation & recommended best practices
                  </li>
                  <li>
                    Deployment – We deploy the solution that meets the organization needs & which has been approved. This includes solutions
                    for small groups of people or very large organization-wide deployments
                  </li>
                  <li>
                    Optimization – We complete a thorough analysis of the current state of the mobility program in place & provide recommendations
                    to reduce costs, eliminate redundancy, increase efficiencies & enhance security
                  </li>
                </ul>
              </div>
              <div class="box">
                <h3>Support </h3>
                <ul>
                  <li>
                    <p>
                      Alpha provides remote & onsite support for mobile devices. Our mobile support program is based on Alpha’s Enterprise Service
                      Management platform
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!---end of Mobility_wireless Section-->
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Contact_info Section-->
        <section>
          <div class="row">
            <h3>For more information on our mobility services, please email us at</h3>
            <a class="larg-link">info@alphait.us</a>
          </div>
        </section>
        <!---end of Contact_info Section-->
      </div>

      <!---Right side-->
      <div id="right" class="right side">

      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>

<!-- ------------------ -->