<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front"><i class="ion-ios-redo-outline"></i>Training & Inovation</a>
        </li>
        <li>
          <a class="show-back"><i class="ion-ios-redo-outline"></i>Step interview process</a>
        </li>
        <!-- <li> -->
          <!-- <a class="show-right"><i class="ion-ios-redo-outline"></i>Job Types</a> -->
        <!-- </li> -->
        <!-- <li>
                  <a class="show-left">job-profiles</a>
                </li> -->
        <!-- <li>
                  <a class="show-top">Our advantage</a>
                </li> -->
        <!-- <li>
                  <a class="show-bottom">testimonials</a>
                </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Data-Analitics Section-->
        <section id="step-by-step-container">
          <p class=" big-title">Data Analytics</p>
          <!---Stages container-->
          <div class="stages-phase-1-container boxes round-boxes">
            <!--id's will be filed from db-->
            <h3>Please click on stage</h3>
            <a id="assessment" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>Assessment</p>
                </div>
              </div>
            </a>
            <a id="review" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>Review</p>
                </div>
              </div>
            </a>
            <a id="analytics" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>analytics</p>
                </div>
              </div>
            </a>
            <a id="design" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>design</p>
                </div>
              </div>
            </a>
            <a id="implementation" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>implementation</p>
                </div>
              </div>
            </a>
            <a id="deployment" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>Deplyment</p>
                </div>
              </div>
            </a>
            <a id="support" href="#stages-phase-info-containerr">
              <div class="stage">
                <div class="box">
                  <p>support</p>
                </div>
              </div>
            </a>
          </div>
          <!---end of Stages container-->

          <!---Analitics-items container-->
          <div id="stages-phase-info-container" class="stages-phase-info-container">
            <!--items name will be filed from db-->
            <div class="stages-phase-info grey assessment">
              <div class="data-options">
                <h3>Action Items</h3>
                <div class="options">
                  <ul>
                    <li>Understand clients business strategies & business objectives</li>
                    <li>Clearly define project objectives & goals</li>
                    <li>Understand & differentiate main priorities & sub-goals</li>
                    <li>Identify areas of focus and</li>
                    <li>Calibrate process into milestones & assessment segments</li>
                    <li>Assess business process to ensure understanding</li>
                  </ul>
                </div>
                
                <h3>Output</h3>
                <div class="options">
                  <ul>
                    <li>Bulleted list of initiatives with well-defined, boundaries, milestones & objectives</li>
                    <li>Build project plan & estimate timelines</li>
                    <li>Estimate project cost, duration, complexity, & delivery dates</li>
                    <li>Assign Milestones (or entire stage) to an owner</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="stages-phase-info grey review">
              <div class="data-options">
                <h3>Action Items</h3>
                <div class="options">
                  <ul>
                    <li>Translate Review stage objectives into analytical requirements</li>
                    <li>Design a high level solution prototype</li>
                    <li>Review estimated investments, costs & timing of specific business cases</li>
                    <li>Establish scope of the project</li>
                    <li>Communicate scope with clients & arrive at a mutually agreeable scope</li>
                    <li>Document agreed scope & boundaries</li>
                  </ul>
                </div>

                <h3>Output</h3>
                <div class="options">
                  <ul>
                    <li>Analytics framework</li>
                    <li>Scope document</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="stages-phase-info grey analytics">
              <div class="data-options">
                <h3>Action Items</h3>
                <div class="options">
                  <ul>
                    <li>Translate Review stage objectives into analytical requirements</li>
                    <li>Design a high level solution prototype</li>
                    <li>Review estimated investments, costs & timing of specific business cases</li>
                  </ul>
                </div>

                <h3>Output</h3>
                <div class="options">
                  <ul>
                    <li>Analytics framework</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="stages-phase-info grey design">
              <div class="data-options">
                <h3>Action Items</h3>
                <div class="options">
                  <ul>
                    <li>Draw detailed execution plan</li>
                    <li>Determine skills & expertise required</li>
                    <li>Assess the maturity & readiness of tools & platforms</li>
                    <li>Agree strategies for vendor engagement</li>
                    <li>Determine technical & scientific tools required & all dependencies</li>
                    <li>Analyze required inputs & their readiness</li>
                    <li>Determine cloud strategies</li>
                    <li>Outline compliance & regulatory framework to be considered</li>
                  </ul>
                </div>

                <h3>Output</h3>
                <div class="options">
                  <ul>
                    <li>Technical requirements, platforms & timelines</li>
                    <li>Software requirement</li>
                    <li>Licenses & permits required</li>
                    <li>Reporting & issues escalation pathway</li>
                    <li>Ownerships & responsibilities</li>
                    <li>Design business case for investments</li>
                    <li>Vendor shortlists & recommendations</li>
                    <li>Compliance requirements</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="stages-phase-info grey implementation">
              <div class="data-options">
                <h3>Action Items</h3>
                <div class="options">
                  <ul>
                    <li>Begin implementation of solution</li>
                    <li>Strict adherence to requirements outlined in Design Stage</li>
                    <li>Stress testing & compliance assessment</li>
                    <li>Design user acceptance testing framewor</li>
                  </ul>
                </div>

                <h3>Output</h3>
                <div class="options">
                  <ul>
                    <li>Solution prototype for testing</li>
                    <li>User acceptance test use cases</li>
                    <li>Test results</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="stages-phase-info grey deployment">
              <div class="data-options">
                <h3>Action Items</h3>
                <div class="options">
                  <ul>
                    <li>Implement user acceptance test with client</li>
                    <li>Demonstrate achievement of all goals as outlined in Review Stage</li>
                    <li>Establish scope was fully covered</li>
                    <li>Establish that solution meets client’s expectations</li>
                    <li>Implement any identified bugs, omissions, defects, etc</li>
                    <li>Request feedback</li>
                    <li>Clients sign off acceptance document</li>
                  </ul>
                </div>

                <h3>Output</h3>
                <div class="options">
                  <ul>
                    <li>Signed acceptance document</li>
                    <li>Possible on-going support agreement</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="stages-phase-info grey support">
              <div class="data-options">
                <h3>Action Items</h3>
                <div class="options">
                  <ul>
                    <li>Sign ongoing support agreement with client</li>
                    <li>Define scope of support & covered elements & boundaries</li>
                    <li>Design Ongoing Support framework</li>
                    <li>Assign owners & backups</li>
                  </ul>
                </div>

                <h3>Output</h3>
                <div class="options">
                  <ul>
                    <li>Calendar & email setup for alerts & Solution prototype for testing</li>
                    <li>Issues escalation framework</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!---end of Analitics-items container-->
        </section>
        <!---end of Data-Analitics Section-->
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Registration Section-->
        <section>
          <h3>Explore & Register For Courses?</h3>
          <div class="row">
            <a href="https://nhlearningsolutions.com/Portals/AlphaTechnologies/tabid/3523/Default.aspx" class="larg-link" target="_blank">Register</a>
          </div>
        </section>
      </div>

      <!---Right side-->
      <div id="right" class="right side">

      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>