<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-redo-outline"></i>Overview</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-redo-outline"></i>Cloud</a>
        </li>
        <li>
          <a class="show-right">
            <i class="ion-ios-redo-outline"></i>Cloud Migration Services</a>
        </li>
        <!-- <li>
                  <a class="show-left">job-profiles</a>
                </li> -->
        <!-- <li>
                  <a class="show-top">Our advantage</a>
                </li> -->
        <!-- <li>
                  <a class="show-bottom">testimonials</a>
                </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Overview Section-->
        <section>
          <h2>Overview</h2>
          <div class="row boxes">
            <div class="box">
              <p>
                Migrating to a Cloud environment can be a challenging journey. Alpha’s Enterprise Cloud Services (ECS) can offer clients
                peace of mind before, during & after the journey to a new environment with our highly recognized Cloud
                enablement services, processes, discipline & best practices. The entire service package can be leveraged
                or individual services can be selected for specific solutions. Services can be offered as part of migration
                to a new hosting or new & existing Cloud environments.
                <br>
                <br> These services are completely vendor agnostic & neutral. ECS services utilize:
              </p>
              <span class="icon-with-text">
                <i></i>
                <span>Best in class tools to analyze existing environments to support, scale & enable a factory services approach</span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>Hands-on engagement with client to ensure deep working knowledge of needs</span>
              </span>
              <span class="icon-with-text">
                <i></i>
                <span>Customized approach to meet each client’s unique needs since every business has unique requirements.</span>
              </span>
              <p>
                <br>
                <br> The Workload Migration & Optimization Service specifically examines a client’s existing applications and
                infrastructure in the development of assessments & proposals. It also looks at a client’s overall business
                needs, & proposes new Cloud applications to fulfill needs beyond the client’s existing capabilities.
                <br>
                <br> The Enterprise Cloud Service bundles multiple individual service elements into a higher level, orderable
                set of three service packages. Many service elements can still be ordered individually. All services or service
                elements have been defined in detail below.
              </p>
            </div>
          </div>
        </section>
        <!---end of Overview Section-->

      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <!---Cloud_Services Section-->
        <section>
          <h2>Cloud</h2>
          <h4>The Enterprise Cloud Service bundles multiple individual service elements into a higher level, orderable set of three service packages. Many service elements can still be ordered individually. All services or service elements have been defined in detail below.</h4>
          <div class="row">
            <div class="boxes round-boxes">
              <div class="box" style="background-color: rgba(0, 152, 208, 0.81);">
                <p>Cloud Workload Migration & Optimization (CWMO)</p>
              </div>

              <div class="box " style="background-color: rgba(0, 152, 208, 0.81);">
                <p>Cloud Dev-ops Setup & Integration (CDSI)</p>
              </div>

              <div class="box" style="background-color: rgba(0, 152, 208, 0.81);">
                <p>Cloud Managed Services & Governance (CMSG)</p>
              </div>
            </div>
          </div>
        </section>
        <!---end of Cloud_Services Section-->
      </div>

      <!---Right side-->
      <div id="right" class="right side">
        <!---Immages Section-->
        <section>
          <h2>Alpha Cloud Migration Service Roadmap</h2>
          <figure class="img-block-container">
            <img src="assets/resources/img/cloud_migration.png" />
          </figure>

          <h2>Alpha Managed Service</h2>
          <figure class="img-block-container">
            <img src="assets/resources/img/managed_services.png" />
          </figure>
        </section>
        <!---end of Immages Section-->
      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>
<!-- -->