<section id="threed-cube">
  <div id="options">
    <div id="show-buttons">
      <ul>
        <li>
          <a class="show-front">
            <i class="ion-ios-paperplane-outline"></i> Training & Inovation</a>
        </li>
        <li>
          <a class="show-back">
            <i class="ion-ios-star-outline"></i>Training Center Tracks</a>
        </li>
        <!-- <li>
          <a class="show-right">Job Types</a>
        </li> -->
        <!-- <li>
          <a class="show-left">job-profiles</a>
        </li> -->
        <!-- <li>
          <a class="show-top">Our advantage</a>
        </li> -->
        <!-- <li>
          <a class="show-bottom">testimonials</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div id="theArt">
    <div id="cube" class="show-front">

      <!---Front side-->
      <div id="front" class="front side">
        <!---Talent_and_inovation_links Section-->
        <section class="large-buttons">
          <h2>Training & Inovation</h2>
          <ul>
            <a routerLink="/it-training-automation/training">
              <!-- <a routerLink="/it-training-automation/training"> -->
              <li>Training</li>
            </a>
            <a routerLink="/it-training-automation/inovation">
              <li>Innovation</li>
            </a>
          </ul>
          <div class="info-img box">
            <img src="assets/resources/img/pics/TrainingLab1.JPG">
          </div>
        </section>
        <!---end of Talent_and_inovation_links Section-->
      </div>
      <!---Back side-->
      <div id="back" class="back side">
        <section>
          <h2>Training Center Tracks</h2>
          <div class="row boxes square-box-with-i title-with-subs">
            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>Data Science & Machine Learning
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Python for Data Science
                </li>
                <li>
                  <i class="ion-android-done"></i>Machine Learning
                </li>
                <li>
                  <i class="ion-android-done"></i>Deep Leaning
                </li>
                <li>
                  <i class="ion-android-done"></i>Recommendation Systems
                </li>
                <li>
                  <i class="ion-android-done"></i>Natural Language Processing
                </li>
              </ul>
            </div>
            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>Blobkchain
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Blockchain Essentials
                </li>
                <li>
                  <i class="ion-android-done"></i>Blockchain Development R3 Corda
                </li>
                <li>
                  <i class="ion-android-done"></i>Blockchain Development Etherium
                </li>
              </ul>
            </div>
            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>Process Automation
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Process Automation Essentials
                </li>
                <li>
                  <i class="ion-android-done"></i>Process Automation development
                </li>
              </ul>
            </div>
            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>Visualization
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>R ggplo2/Shiny
                </li>
                <li>
                  <i class="ion-android-done"></i>GoogleMaps/D3
                </li>
                <li>
                  <i class="ion-android-done"></i>Tableau
                </li>
                <li>
                  <i class="ion-android-done"></i>Qlickview
                </li>
              </ul>
            </div>
            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>Mobility
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Mobility Essentials
                </li>
                <li>
                  <i class="ion-android-done"></i>Mobility Development
                </li>
              </ul>
            </div>
            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>IoT
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Here is no information
                </li>
              </ul>
            </div>

            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>SAP
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Here is no information
                </li>
              </ul>
            </div>

            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>Servicenow
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Here is no information
                </li>
              </ul>
            </div>

            <div class="box">
              <h3>
                <i class="ion-ios-thunderstorm-outline"></i>Cloud
              </h3>
              <ul>
                <li>
                  <i class="ion-android-done"></i>Here is no information
                </li>
              </ul>
            </div>

          </div>
        </section>


      </div>

      <!---Right side-->
      <div id="right" class="right side">

      </div>

      <!---Left side-->
      <div id="left" class="left side">

      </div>
      <!---Top side-->
      <div id="top" class="top side">

      </div>
      <!---Bottom side-->
      <div id="bottom" class="bottom side">

      </div>
    </div>
  </div>
</section>