.main-nav a:nth-of-type(1) .nav-title{
    color:#45B649;
}
.main-nav a:nth-of-type(2) .nav-title{
    color:#870000;
}
.main-nav a:nth-of-type(3) .nav-title{
    color:#185a9d;
}
.main-nav a:nth-of-type(4) .nav-title{
    color:#403B4A;
}
.main-nav a:nth-of-type(5) .nav-title{
    color:#003973;
}
.main-nav a:nth-of-type(6) .nav-title{
    color:#FF8008;
}
.main-nav a:nth-of-type(7) .nav-title{
    color:#45B649;
}
.main-nav a:nth-of-type(8) .nav-title{
    color:#870000;
}
